/* You can add global styles to this file, and also import other style files */
body{
    background: #E6DADA;
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);
    background: linear-gradient(to right, #274046, #E6DADA);
    height: 100vh;
}
